<!DOCTYPE html>
<html>
  <head>
    <title>Rails6test</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class='container'>
      <div class='nav'>
        <%= link_to 'HOME', root_path, class: 'btn btn-outline-dark' %> <%= link_to 'NEW POST', new_post_path, class: 'btn btn-outline-dark' %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
